<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangge.mapper.OrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.chuangge.domain.OrderItem" >
    <id column="tb_item_id" property="itemId" jdbcType="INTEGER" />
    <result column="tb_order_id" property="orderId" jdbcType="BIGINT" />
    <result column="tb_goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="tb_goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="tb_item_state" property="itemState" jdbcType="TINYINT" />
    <result column="tb_is_invoice" property="isInvoice" jdbcType="TINYINT" />
    <result column="tb_img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="tb_price" property="price" jdbcType="DOUBLE" />
    <result column="tb_quantity" property="quantity" jdbcType="INTEGER" />
    <result column="tb_sale_spec" property="saleSpec" jdbcType="VARCHAR" />
    <result column="tb_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="tb_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tb.item_id as tb_item_id, tb.order_id as tb_order_id, tb.goods_id as tb_goods_id, 
    tb.goods_title as tb_goods_title, tb.item_state as tb_item_state, tb.is_invoice as tb_is_invoice, 
    tb.img_url as tb_img_url, tb.price as tb_price, tb.quantity as tb_quantity, tb.sale_spec as tb_sale_spec, 
    tb.create_time as tb_create_time, tb.update_time as tb_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_item tb
    where tb.item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chuangge.domain.OrderItem" >
    insert into order_item (item_id, order_id, goods_id, 
      goods_title, item_state, is_invoice, 
      img_url, price, quantity, 
      sale_spec, create_time, update_time
      )
    values (#{itemId,jdbcType=INTEGER}, #{orderId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{goodsTitle,jdbcType=VARCHAR}, #{itemState,jdbcType=TINYINT}, #{isInvoice,jdbcType=TINYINT}, 
      #{imgUrl,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{quantity,jdbcType=INTEGER}, 
      #{saleSpec,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chuangge.domain.OrderItem" >
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsTitle != null" >
        goods_title,
      </if>
      <if test="itemState != null" >
        item_state,
      </if>
      <if test="isInvoice != null" >
        is_invoice,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="saleSpec != null" >
        sale_spec,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsTitle != null" >
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null" >
        #{itemState,jdbcType=TINYINT},
      </if>
      <if test="isInvoice != null" >
        #{isInvoice,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="saleSpec != null" >
        #{saleSpec,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuangge.domain.OrderItem" >
    update order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="goodsTitle != null" >
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="itemState != null" >
        item_state = #{itemState,jdbcType=TINYINT},
      </if>
      <if test="isInvoice != null" >
        is_invoice = #{isInvoice,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="saleSpec != null" >
        sale_spec = #{saleSpec,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuangge.domain.OrderItem" >
    update order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      item_state = #{itemState,jdbcType=TINYINT},
      is_invoice = #{isInvoice,jdbcType=TINYINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      quantity = #{quantity,jdbcType=INTEGER},
      sale_spec = #{saleSpec,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>