<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chuangge.mapper.CatBrandMapper" >
  <resultMap id="BaseResultMap" type="com.chuangge.goods.modle.domain.CatBrand" >
    <id column="tb_id" property="id" jdbcType="INTEGER" />
    <result column="tb_cat_id" property="catId" jdbcType="INTEGER" />
    <result column="tb_brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="tb_create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    tb.id as tb_id, tb.cat_id as tb_cat_id, tb.brand_id as tb_brand_id, tb.create_time as tb_create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cat_brand tb
    where tb.id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cat_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chuangge.goods.modle.domain.CatBrand" >
    insert into cat_brand (id, cat_id, brand_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chuangge.goods.modle.domain.CatBrand" >
    insert into cat_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chuangge.goods.modle.domain.CatBrand" >
    update cat_brand
    <set >
      <if test="catId != null" >
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chuangge.goods.modle.domain.CatBrand" >
    update cat_brand
    set cat_id = #{catId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>